/alloca.in.h
/argmatch.c
/argmatch.h
/asnprintf.c
/asprintf.c
/assure.h
/at-func.c
/at-func2.c
/backupfile.c
/backupfile.h
/basename-lgpl.c
/basename.c
/bitrotate.c
/bitrotate.h
/c-ctype.c
/c-ctype.h
/c-strcase.h
/c-strcasecmp.c
/c-strcaseeq.h
/c-strncasecmp.c
/canonicalize-lgpl.c
/chdir-long.c
/chdir-long.h
/chmodat.c
/chown.c
/chownat.c
/cloexec.c
/cloexec.h
/close.c
/closedir.c
/config.charset
/diffseq.h
/dirent--.h
/dirent-private.h
/dirent-safer.h
/dirent.in.h
/dirfd.c
/dirname-lgpl.c
/dirname.c
/dirname.h
/dosname.h
/dup-safer.c
/dup2.c
/errno.in.h
/error.c
/error.h
/euidaccess.c
/exitfail.c
/exitfail.h
/faccessat.c
/fchdir.c
/fchmodat.c
/fchown-stub.c
/fchownat.c
/fcntl.c
/fcntl.in.h
/fd-hook.c
/fd-hook.h
/fd-safer.c
/filename.h
/filenamecat-lgpl.c
/filenamecat.h
/float+.h
/float.c
/float.in.h
/fstat.c
/fstatat.c
/full-write.c
/full-write.h
/getcwd-lgpl.c
/getdate.h
/getdtablesize.c
/getgroups.c
/getopt.c
/getopt.in.h
/getopt1.c
/getopt_int.h
/gettext.h
/gettime.c
/gettimeofday.c
/gl_anylinked_list1.h
/gl_anylinked_list2.h
/gl_linked_list.c
/gl_linked_list.h
/gl_list.c
/gl_list.h
/gl_xlist.c
/gl_xlist.h
/gnulib.mk
/group-member.c
/hash.c
/hash.h
/ignore-value.h
/intprops.h
/itold.c
/lchown.c
/localcharset.c
/localcharset.h
/lstat.c
/malloc.c
/malloca.c
/malloca.h
/malloca.valgrind
/mbrtowc.c
/mbsinit.c
/memchr.c
/memchr.valgrind
/mempcpy.c
/memrchr.c
/minmax.h
/mkdir.c
/mkdirat.c
/mktime-internal.h
/mktime.c
/msvc-inval.c
/msvc-inval.h
/msvc-nothrow.c
/msvc-nothrow.h
/open.c
/openat-die.c
/openat-priv.h
/openat-proc.c
/openat.c
/openat.h
/opendir-safer.c
/opendir.c
/parse-datetime.h
/parse-datetime.y
/pathmax.h
/pipe-safer.c
/printf-args.c
/printf-args.h
/printf-parse.c
/printf-parse.h
/progname.c
/progname.h
/quote.h
/quotearg.c
/quotearg.h
/raise.c
/readdir.c
/readlink.c
/readlinkat.c
/realloc.c
/ref-add.sin
/ref-del.sin
/rename.c
/renameat.c
/rmdir.c
/root-uid.h
/safe-read.c
/safe-write.c
/safe-write.h
/same-inode.h
/save-cwd.c
/save-cwd.h
/secure_getenv.c
/setenv.c
/signal.in.h
/size_max.h
/stat-time.c
/stat-time.h
/stat.c
/statat.c
/stdarg.in.h
/stdbool.in.h
/stddef.in.h
/stdint.in.h
/stdio.in.h
/stdlib.in.h
/strdup.c
/streq.h
/strerror-override.c
/strerror-override.h
/strerror.c
/string.in.h
/stripslash.c
/strndup.c
/strnlen.c
/symlink.c
/symlinkat.c
/sys_stat.in.h
/sys_time.in.h
/sys_types.in.h
/tempname.c
/tempname.h
/time.in.h
/time_r.c
/timespec.c
/timespec.h
/unistd--.h
/unistd-safer.h
/unistd.c
/unistd.in.h
/unlink.c
/unlinkat.c
/unsetenv.c
/utimens.c
/utimens.h
/utimensat.c
/vasnprintf.c
/vasnprintf.h
/vasprintf.c
/verify.h
/verror.c
/verror.h
/wchar.in.h
/wctype-h.c
/wctype.in.h
/write.c
/xalloc-die.c
/xalloc-oversized.h
/xalloc.h
/xasprintf.c
/xmalloc.c
/xmemdup0.c
/xmemdup0.h
/xsize.c
/xsize.h
/xstrndup.c
/xstrndup.h
/xvasprintf.c
/xvasprintf.h
